// 颜色
$color-theme: rgb(72, 151, 197);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-theme-disabled: mix($color-theme, $color-white, 40%);
$color-theme-active: mix($color-theme, $color-black, 88%);
$color-theme-focus: mix($color-theme, $color-black, 88%);

$color-title: rgb(51, 51, 51);
$color-text: rgb(74, 74, 74);
$color-tip: rgb(88, 88, 88);

$color-bg: rgb(238, 238, 238);
$color-border: mix($color-theme, $color-bg, 5%);
$color-border-focus: $color-theme-focus;
$color-required: $color-theme;
$color-error: rgb(189, 61, 61);
$color-mask: rgba(0, 0, 0, 0.6);

// 数值、大小
$size-icon: 1.4rem;
$size-title: 1.4rem;
$size-option: 1.3rem;
$size-text: 1.2rem; 

$height-title: 3rem;
$height-option: 2.5rem;
$height-text: 2rem;

$padding-small: 0.5rem;
$padding-normal: 0.8rem;
$padding-big: 1rem; 

$z-index-low: 1;
$z-index-normal: 100;
$z-index-high: 500;
$z-index-highest: 999;
