$size-title: 1.4rem;
$size-option: 1.3rem;
$size-text: 1.2rem; 

$height-title: 3rem;
$height-option: 2.5rem;
$height-text: 2rem;

$padding-small: 0.5rem;
$padding-normal: 0.8rem;
$padding-big: 1rem; 

$z-index-1: 1;
$z-index-5: 5;
$z-index-9: 9;
$z-index-100: 100;
$z-index-500: 500;
$z-index-999: 999;