html, body, div, p, span {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 12px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1700px) {
    html {
        font-size: 17px;
    }
}