button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}

.sg-flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
.sg-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.sg-flex-one {
    flex: 1;
}